name: Release Builder

on:
  push:
    branches:
      - main
    tags:
      - 'v*.*.*'

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential cmake qtbase5-dev libavcodec-dev libavformat-dev libavutil-dev libswscale-dev v4l2loopback-dkms

      - name: Configure CMake
        run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Release -DCPACK_PACKAGE_EXECUTABLES="streamberry-desktop"

      - name: Build project
        run: cmake --build build

      - name: Package application
        run: |
          cd build
          cpack -G DEB
          cpack -G TGZ

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux-builds
          path: |
            build/*.deb
            build/*.tar.gz

  build-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup MSVC
        uses: microsoft/setup-msvc@v1

      - name: Setup Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: '6.2.4'
          arch: 'win64_msvc2019_64'

      - name: Setup FFmpeg
        id: setup-ffmpeg
        uses: FedericoCarboni/setup-ffmpeg@v3
        with:
          ffmpeg-version: 'release'

      - name: Configure CMake
        run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Release -DCMAKE_PREFIX_PATH="C:/Qt/6.2.4/msvc2019_64" -DFFMPEG_DIR="${{ steps.setup-ffmpeg.outputs.ffmpeg-path }}" -DCPACK_PACKAGE_EXECUTABLES="streamberry-desktop" -DCPACK_NSIS_EXECUTABLES="streamberry-desktop.exe"

      - name: Build project
        run: cmake --build build --config Release

      - name: Package application
        run: |
          cd build
          cpack -G NSIS
          cpack -G ZIP

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: windows-builds
          path: |
            build/*.exe
            build/*.zip

  create-release:
    runs-on: ubuntu-latest
    needs: [build-linux, build-windows]
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            artifacts/*/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}